<!DOCTYPE html>
<html>
    <head>
        <title>Cricomize</title>
    </head>
    <body>
        <%if(data == 2) {%>
            <script>
                alert('User has been registered sucesfully');
                window.history.go(-2);

            </script>
        <%}%>
        <script>
            alert('User has been registered successfully');
            window.history.go(-1);
        </script>
    </body>
</html>